<!DOCTYPE html>
<html>
<head>
  <title>MatchMaking</title>
  <style>
    body {
      text-align: center;
    }

    h1 {
      font-size: 50px;
    }

    hr {
      border: none;
      border-top: 3px solid #FFB500;
    }
  </style>
</head>
<body>
  <div class="left">
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/6b/United_Parcel_Service_logo_2014.svg/1718px-United_Parcel_Service_logo_2014.svg.png" alt="UPS Logo" width="70" height="70" align="left">
  </div>

  <h1>Manager's Match With Candidates</h1>

  <hr>

  <!-- Additional content here -->
  <h2>Here is the list of Top Candidates from the skill set you are looking for</h2>

  <div id="chart-container"></div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  
  <ul>
    {{chart_data}}
  </ul>
  <!-- <ul>
    {% for item in chart_data %}
        <li>{{item}}</li>
    {% endfor %}
    </ul> -->
</body>
</html>