<!-- <!DOCTYPE html>
<html>
<head>
  <title>Data Display</title>
</head>
<body>
  <h1>Data Display</h1>

  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
      </tr>
    </thead>
    <tbody>
      {% for row in data %}
      <tr>
        <td>{{ row.id }}</td>
        <td>{{ row.name }}</td>
        <td>{{ row.email }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

</body>
</html> -->

<!DOCTYPE html>
<html>
<head>
  <style>
    ul.demo {
      list-style-type: none;
      margin: 0;
      padding: 0;
    }
    </style>
</head>
<body>
  <div class="left">
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/6b/United_Parcel_Service_logo_2014.svg/1718px-United_Parcel_Service_logo_2014.svg.png" alt="UPS Logo" width="70" height="70" align="left">
  </div>
  <br>
  <br>
  <ul>
    {{chart_data}}
  </ul>
  <ul>
    {% for item in chart_data %}
        <li>{{item}}</li>
    {% endfor %}
    </ul>
</body>
</html>