<!doctype html>
<body>
    <h1> Manager Portal </h1>
    <h2>Personal Information</h2>
    <form method="POST" enctype="multipart/form-data">
        <label for="name">First Name:</label>
        <input type="text" name="fname" required><br>

        <label for="name">Last Name:</label>
        <input type="text" name="lname" required><br>
        
        <label for="email">Email Address:</label>
        <input type="email" name="email" required><br>

        <label for="Department">Department</label>
        <input type="Departmen" name="Department" required><br>
        
        
        <br><h2> Personal Preference:</h2>
        <h7><em> From the Listed Skills, Please pick your Preferences
             From Most Interested to Least Interested
        </em></h7><br>
        
        <div>
            <br><label for="Depart1">Databases/Backend</label>
            <select name="Depart1" required>

                <option value="6">Very Interested</option>
                <option value="5">Highly Interested</option>
                <option value="4">Interested</option>
                <option value="3">Highly Neutral</option>
                <option value="2">Neutral</option>
                <option value="1">Less Interested</option>
                <option value="0">Not Interested</option>
            </select>
        </div>

        <div>
            <label for="Depart2">Front End</label>
            <select name="Depart2" required>

                <option value="6">Very Interested</option>
                <option value="5">Highly Interested</option>
                <option value="4">Interested</option>
                <option value="3">Highly Neutral</option>
                <option value="2">Neutral</option>
                <option value="1">Less Interested</option>
                <option value="0">Not Interested</option>
            </select>
        </div>

        <div>
            <label for="Depart3">Security/Networking (IT)</label>
            <select name="Depart3" required>

                <option value="6">Very Interested</option>
                <option value="5">Highly Interested</option>
                <option value="4">Interested</option>
                <option value="3">Highly Neutral</option>
                <option value="2">Neutral</option>
                <option value="1">Less Interested</option>
                <option value="0">Not Interested</option>
            </select>
        </div>

        <div>
            <label for="Depart4">DevOps/Full-Stack </label>
            <select name="Depart4" required>

                <option value="6">Very Interested</option>
                <option value="5">Highly Interested</option>
                <option value="4">Interested</option>
                <option value="3">Highly Neutral</option>
                <option value="2">Neutral</option>
                <option value="1">Less Interested</option>
                <option value="0">Not Interested</option>
            </select>
        </div>

        <div>
            <label for="Depart5">Administration</label>
            <select name="Depart5" required>

                <option value="6">Very Interested</option>
                <option value="5">Highly Interested</option>
                <option value="4">Interested</option>
                <option value="3">Highly Neutral</option>
                <option value="2">Neutral</option>
                <option value="1">Less Interested</option>
                <option value="0">Not Interested</option>
            </select>
        </div>

        <div>
            <label for="Depart6">Data-Science/ML/AI</label>
            <select name="Depart6" required>

                <option value="6">Very Interested</option>
                <option value="5">Highly Interested</option>
                <option value="4">Interested</option>
                <option value="3">Highly Neutral</option>
                <option value="2">Neutral</option>
                <option value="1">Less Interested</option>
                <option value="0">Not Interested</option>
            </select>
        </div>

        <div>
            <label for="Depart7">Operating-System (IT)</label>
            <select name="Depart7" required>

                <option value="6">Very Interested</option>
                <option value="5">Highly Interested</option>
                <option value="4">Interested</option>
                <option value="3">Highly Neutral</option>
                <option value="2">Neutral</option>
                <option value="1">Less Interested</option>
                <option value="0">Not Interested</option>
            </select>
        </div>
        
        <div>
            <label for="Depart7">Cloud Computing</label>
            <select name="Depart7" required>

                <option value="6">Very Interested</option>
                <option value="5">Highly Interested</option>
                <option value="4">Interested</option>
                <option value="3">Highly Neutral</option>
                <option value="2">Neutral</option>
                <option value="1">Less Interested</option>
                <option value="0">Not Interested</option>
            </select><br>
        </div><br>
       <input type="submit" class="btn btn-outline-success" value="Submit">
        
    </form>

    <div class="mb-3">
        <label for="Comments" class="form-label">Comments</label>
        <textarea class="form-control" id="Comments" rows="3"></textarea>
      </div>
    <main>
        <!-- this is where you can do whatever-->
     </main>
</body>
</html>